<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>変更</title>
  <!--    <link rel="stylesheet" href="/css/commons.css">-->
  <link rel="stylesheet" href="/css/admin_management.css">
</head>
<body class="background_color">
<!--ヘッダー-->
<th:block th:insert="/admin/admin_header"></th:block>

<div>
  <div class="position_c"> <!--ポジションを真ん中にしている-->
    <div>
      <p class="changeAdminPassword_Text">管理者ID変更</p>
    </div>
    <form action="/id_confirm" method="POST" th:object="${AdminIdForm}">　<!--POST形式でデータ送信-->
      <p class="password_Text">ID</p>
      <div>
        <input type="text" class="insert_data" th:field="*{adminId}" placeholder="変更するIDを入力してください">
        <div class="error" th:each="error: ${#fields.errors('adminId')}">
          [[ ${error} ]]
        </div>
        <div>
          <button class="update_button" type="submit">更新</button>
        </div>
      </div>
    </form>
  </div>
</div>


<!--  フッター-->
<th:block th:insert="/admin/admin_footer"></th:block>
</body>
</html>