<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>更新お知らせ</title>
  <!--    <link rel="stylesheet" href="/css/commons.css">-->
  <link rel="stylesheet" href="/css/admin_management.css">
</head>
<body>
<!--ヘッダー-->
<th:block th:insert="/admin/admin_header"></th:block>

<div class="background_color">
  <div class="position_c"> <!--ポジションを真ん中にしている-->
    <p>更新しました！！</p>
    <form action="/redirect" method="POST">　<!--POST形式でデータ送信-->
      <div>
        <button type="submit">管理者Topへ</button>
      </div>
    </form>
  </div>
</div>

</body>
</html>