<!DOCTYPE html>
<html lang="ja">

<head>
    <title>css header</title>
    <link rel="stylesheet" href="/css/headfoot.css">
</head>

<body class="body">
    <footer class="footer">
        <div class="text">
            <h1>Do-It-Diet</h1>
            <p>&copy; 2023 あなたのウェブサイト</p>
        </div>
        <div class="footer_link">
            <div>
                <a href="#">お問い合わせ</a>
            </div>
            <div>
                <a href="/利用規約確認">利用規約</a>
            </div>
            <div>
                <a href="#">ヘルプ</a>
            </div>
            <div>
                <a href="/プライバシーポリシー確認">プライバシーポリシー</a>
            </div>
        </div>
    </footer>
</body>

</html>