<!DOCTYPE html>
<html lang="ja">

<head>
    <title>css header</title>
    <link rel="stylesheet" href="/css/headfoot.css">
</head>

<body>
    <header>
        <h1><a href="/header">Do-It-Diet</a></h1>
        <p>ようこそ！〇〇さん！</p>
        <div class="nav">
            <div class="dropdown">
                <button class="dropbtn">ダイエット</button>
                <div class="dropdown-content">
                    <a href="https://sites.google.com/new">一覧</a>
                    <a href="/dietResultInsert">成果入力</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">分析</button>
                <div class="dropdown-content">
                    <a href="#">分析</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">アカウント</button>
                <div class="dropdown-content">
                    <a href="#">プロフィール</a>
                    <a href="#">削除</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">設定</button>
                <div class="dropdown-content">
                    <a href="#">壁紙設定</a>
                    <a href="#">通知</a>
                    <a href="#">ヘルプ</a>
                </div>
            </div>
        </div>
    </header>
</body>

</html>