<!DOCTYPE html>
<html lang="ja">

<head>
  <title>css header</title>
  <link rel="stylesheet" href="/css/headfoot.css">
</head>

<body>
<header>
  <h1><a href="/header">Do-It-Diet</a></h1>
  <p>ようこそ！〇〇さん！</p>
  <div class="nav">
    <div class="dropdown">
      <button class="dropbtn">アカウント管理</button>
      <div class="dropdown-content">

      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">ダイエット方法編集</button>
      <div class="dropdown-content">
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">スタンプ・壁紙表示</button>
      <div class="dropdown-content">

      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">お問い合わせ</button>
      <div class="dropdown-content">
      </div>
    </div>
  </div>
</header>
</body>

</html>