<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>プライバシーポリシー</title>
  <link rel="stylesheet" href="/css/footercheck/footerCheck.css">
</head>

<body class="background_color">

<th:block th:insert="/admin/admin_header"></th:block>

<div class="margin">

  <h1>【Do-It-Diet】プライバシーポリシー</h1>
  <br>
  <br>
  <p>
    このプライバシーポリシーは、[Do-It-Diet]（以下「当サービス」と称します）の利用者の個人情報の収集、利用、保護に関する方針を示しています。当サービスをご利用になる場合は、以下の内容をよくお読みいただき、同意していただく必要があります。<br>
    <br>
  </p>

  <p>
    <strong>1. 収集する情報</strong><br>
    <br>
  <p>当サービスでは、以下の情報を収集する場合があります:</p>
  <div class="margin_left">
    <div class="container">
      <div class="number">・</div>
      <div class="text">個人を特定できる情報（氏名、連絡先情報など）</div>
    </div>
    <div class="container">
      <div class="number">・</div>
      <div class="text">ユーザーのデバイス情報（IPアドレス、ブラウザの種類、利用環境など）</div>
    </div>
    <div class="container">
      <div class="number">・</div>
      <div class="text">Cookieや類似技術を使用した情報</div>
    </div>
  </div>
  <br>
  </p>

  <p>
    <strong>2. 収集目的</strong><br>
    <br>
  <p>当サービスは、以下の目的で個人情報を収集します:</p>
  <div class="margin_left">
    <div class="container">
      <div class="number">・</div>
      <div class="text">サービスの提供および運営</div>
    </div>
    <div class="container">
      <div class="number">・</div>
      <div class="text">利用状況の分析および改善</div>
    </div>
    <div class="container">
      <div class="number">・</div>
      <div class="text">問い合わせへの回答およびサポート提供</div>
    </div>
    <div class="container">
      <div class="number">・</div>
      <div class="text">新規サービスや特典の案内</div>
    </div>
  </div>
  <br>
  </p>

  <p>
    <strong>3. 情報の共有と第三者への提供</strong><br>
    <br>
  <p>当サービスは、法的義務を遵守し、以下の場合を除き、ユーザーの個人情報を第三者と共有または提供しません:</p>
  <div class="margin_left">
    <div class="container">
      <div class="number">・</div>
      <div class="text">ユーザーの同意がある場合</div>
    </div>
    <div class="container">
      <div class="number">・</div>
      <div class="text">法的な要請がある場合</div>
    </div>
    <div class="container">
      <div class="number">・</div>
      <div class="text">サービス提供のために必要な業務委託先と情報を共有する場合</div>
    </div>
  </div>
  <br>
  </p>

  <p>
    <strong>4. 情報の保護とセキュリティ</strong><br>
    <br>
  <p>当サービスは、ユーザーの個人情報を適切に保護するために技術的・組織的な安全対策を実施します。情報の漏洩、改ざん、不正アクセスなどに対するリスクに対して適切な対策を講じます。</p>
  </P>

  <p>
    <strong>5. ユーザーの権利</strong><br>
    <br>
  <p>ユーザーは、自身の個人情報について以下の権利を行使することができます:</p>
  <div class="margin_left">
    <div class="container">
      <div class="number">・</div>
      <div class="text">情報の確認、修正、削除の請求</div>
    </div>
    <div class="container">
      <div class="number">・</div>
      <div class="text">個人情報の利用停止の請求</div>
    </div>
    <div class="container">
      <div class="number">・</div>
      <div class="text">個人情報の第三者への提供停止の請求</div>
    </div>
  </div>
  <br>
  </p>



  <p>
    <strong>6. プライバシーポリシーの変更</strong><br>
    <br>
  <p>当サービスは、必要に応じてプライバシーポリシーを変更する場合があります。変更が行われた場合は、当サービスのウェブサイト上で通知いたします。</p>
  <br>
  </p>


  <p>
    <strong>7. お問い合わせ</strong><br>
    <br>
  <p>プライバシーポリシーに関するご質問やご要望がある場合は、以下の連絡先までお問い合わせください:</p>
  <br>
  <div class="container">
    <div class="number">・</div>
    <div class="text">個人情報の第三者への提供停止の請求</div>
  </div>
  <p>連絡先情報:</p>
  <p>グループ名: Group-C</p>
  <p>連絡担当部署: T&C 那覇オフィス</p>
  <p>電話番号: 012-345-6789</p>
  <p>メールアドレス: privacy@abc.com</p>
  <p>郵便物の送付先住所: 〒904-0014 沖縄県那覇市松尾1-10-24ホークシティ那覇ビル 5F</p>
  <p>オンラインフォーム: [問い合わせフォームのリンク]</p>
  </P>

</div>

<th:block th:insert="/admin/admin_footer"></th:block>

</body>

</html>