<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>管理者TOP</title>
    <link rel="stylesheet" href="/css/admin.css">

</head>
<body>

<div class =box>
    <img src="/css/img/teamProject.jpg" alt="画像">

    <table border = "1">
        <tr>
        <td align="center">ユーザー数：～</td>
        <td align="left">○○○○</td>
        <td align="center">ダイエット数：～</td>
        <td align="left">○○○○</td>
        </tr>


    </table>
</div>
<div class="center-text">検索</div>


</body>
</html>