<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>css header</title>
  <link rel="stylesheet" href="/css/admin-headfoot.css">
</head>

<!-- <body class="body">
<footer class="footer">
  <div class="text">
    <p><h1>Do-It-Diet</h1></p>
    <p>&copy; 2023 kensyu.All rights reserved</p>
  </div>
  <div class="footer_link">
    <div>
      <a href="/利用規約確認">利用規約</a>
    </div>

    <div>
      <a href="/プライバシーポリシー確認">プライバシーポリシー</a>
    </div>

  </div>
</footer>
</body> -->

<body class="body">
  <footer class="footer">
      <div class="text">
          <h1>Do-It-Diet</h1>
          <p>&copy; 2023 あなたのウェブサイト</p>
      </div>
      <div class="footer_link">
          <div>
              <a href="/利用規約確認">利用規約</a>
          </div>
          <div>
              <a href="/プライバシーポリシー確認">プライバシーポリシー</a>
          </div>
      </div>
  </footer>
</body>
</html>