<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>利用規約</title>
  <link rel="stylesheet" href="/css/footercheck/footerCheck.css">
</head>

<body class="background_color">

  <th:block th:insert="/common/header"></th:block>

  <div class="margin">

    <h1>【Do-It-Diet】利用規約</h1>

    <br>
    <br>

    <p>
      ・この利用規約（以下「本規約」といいます）は、【Group-C】（以下「提供者」といいます）が提供するWebアプリケーションの利用に関する条件を定めるものです。本規約に同意することで、利用者（以下「ユーザー」といいます）は提供者のWebアプリケーションを利用することができます。以下の条項をよくお読みいただき、同意される場合にのみアプリケーションをご利用ください。<br>
      <br>
    </p>

    <p>
      <strong>1. サービスの利用</strong><br>
      <div class="margin_left">
        <div class="container">
          <div class="number">1.1</div>
          <div class="text">ユーザーは、提供者のWebアプリケーションを利用するために必要なアカウント登録手続きを完了する必要があります。登録情報は真実かつ正確な情報を提供するものとし、変更がある場合には速やかに更新する責任を負います。</div>
        </div>
        <div class="container">
          <div class="number">1.2</div>
          <div class="text">ユーザーは、提供者のWebアプリケーションの利用にあたり、関連法規や第三者の権利を遵守しなければなりません。禁止行為に該当する利用、不正アクセスの試み、他のユーザーへの迷惑行為等は固く禁止します。</div>
        </div>
        <div class="container">
          <div class="number">1.3</div>
          <div class="text">ユーザーは、自己のアカウント情報およびパスワードを適切に管理し、第三者に利用させたり、転用することはできません。ユーザーの責任においてアカウント情報とパスワードの管理を行うものとします。</div>
        </div>
      </div>
      <br>
    </p>

    <p>
      <b>2. 知的財産権</b><br>
      <div class="margin_left">
        <div class="container">
          <div class="number">2.1</div>
          <div class="text"> 提供者が提供するWebアプリケーションに関する知的財産権は、提供者またはライセンサーに帰属します。ユーザーは、提供者の事前の書面による承諾なくして、当該知的財産権を侵害する行為を行ってはなりません。</div>
        </div>
        <div class="container">
          <div class="number">2.2</div>
          <div class="text">  ユーザーが提供者のWebアプリケーションを利用して作成したコンテンツに関する知的財産権は、ユーザーに帰属します。ただし、ユーザーは、提供者に対して非独占的かつ無償のライセンスを許諾するものとします。</div>
        </div>
      </div>
      <br>
    </p>

    <p>
      <strong>3. 免責事項</strong><br>
      <div class="margin_left">
        <div class="container">
          <div class="number">3.1</div>
          <div class="text"> 提供者は、Webアプリケーションの利用によって生じた直接的または間接的な損害について一切の責任を負いません。提供者は、Webアプリケーションの中断、障害、データの消失等が発生した場合でも一切の責任を負いません。</div>
        </div>
        <div class="container">
          <div class="number">3.2</div>
          <div class="text">提供者は、ユーザー間の取引や紛争について一切の責任を負いません。ユーザーは自己の責任においてWebアプリケーションを利用するものとします。</div>
        </div>
      </div>
      <br>
    </p>

    <p>
      <strong>4. プライバシー</strong><br>
      <div class="margin_left">
        <div class="container">
          <div class="number">4.1</div>
          <div class="text">提供者は、ユーザーの個人情報を適切に取り扱うための措置を講じます。ユーザーの個人情報の収集・利用・保管および第三者への提供については、別途プライバシーポリシーが適用されます。</div>
        </div>
      </div>
      <br>
    </p>

    <p>
      <strong>5. その他</strong><br>
      <div class="margin_left">
        <div class="container">
          <div class="number">5.1</div>
          <div class="text">本規約の内容は、提供者の裁量で変更することがあります。変更後の利用規約は、提供者のウェブサイト上で掲示された時点から効力を生じるものとします。</div>
        </div>
        <div class="container">
          <div class="number">5.2</div>
          <div class="text">本規約の解釈にあたっては、日本法を準拠法とします。</div>
        </div>
        <div class="container">
          <div class="number">5.3</div>
          <div class="text">本規約に関して疑義・争議が生じた場合には、双方協議の上、解決を図るものとします。</div>
        </div>
         <br>
      </div>
    </p>

    <p>
      以上が、【Do-It-Diet】のWebアプリケーション利用規約の一例です。ユーザーは本規約に同意した上で、提供者のWebアプリケーションをご利用ください。
      <br>
    </p>

  </div>

  <th:block th:insert="/common/footer"></th:block>

</body>

</html>