<!DOCTYPE html>
<html lang="ja"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="/css/dietdb.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
<table border="1">
  <thead>
  <tr>
    <th>お気に入り</th>
    <th>ボタン</th>
    <th>ダイエット名</th>
    <th>期間</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>★</td>
    <td><button onclick="openModal(this)">登録</button></td>
    <td>断食ダイエット</td>
    <td></td>
  </tr>
  <tr>
    <td>★</td>
    <td><button  onclick="openModal2(this)">更新</button><input type="hidden" value="3"></td>
    <td>豆腐ダイエット</td>
    <td>2023/06/20 ～ 2023/06/30</td>
  </tr>
  </tbody>
</table>
  <div id="modal">
    <form action="/db-register" method="Post" th:object="${dietDb}" id="registerForm">
        <h1 id="insertDietName"></h1>
        <input type="hidden" th:field="*{dietName}" id="insertDietName-input">
        <p class="errorText" id="registerErrorText"></p>
        <h2>やること</h2>
        <input type="text" placeholder="(例)腕立て伏せ100回" th:field="*{action}" id="registerAction">

        <h2>期間</h2>
        <input type="text" class="dateText" th:field="*{startDate}" id="registerStartDate"><span class="between">～</span><input type="text" class="dateText" th:field="*{finishDate}" id="registerFinishDate">
        <br>
        <div class="button">
          <button type="button" id="registerBtn">登録</button>
          <button type="button" onclick="closeModal()">戻る</button>
        </div>
    </form>
  </div>
  <div id="modal2">
    <form action="/db-edit" method="Post" th:object="${editDietDb}" id="editForm">
      <input type="hidden" th:field="*{id}" id="primaryId">
      <h1 id="editDietName"></h1>
      <input type="hidden" th:field="*{dietName}" id="editDietName-input">
      <p class="errorText" id="editErrorText"></p>
        <h2>やること</h2>
        <input type="text" placeholder="(例)腕立て伏せ10000回" th:field="*{action}" id="editAction">

        <h2>期間</h2>
        <input type="text" class="dateText" id="editStartDate" th:field="*{startDate}"><span class="between">～</span><input type="text" class="dateText"  id="editFinishDate" th:field="*{finishDate}">
        <br>
        <div class="button">
          <button type="button" id="editBtn">更新</button>
          <button type="button" id="deleteBtn">削除</button>
          <button type="button" onclick="closeModal2()">戻る</button>
        </div>
    </form>
  </div>
<div id="fadeLayer"></div>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="/js/dietdb.js"></script>
</body>
</html>