
body {
  background-color: rgb(255 208 102);

}

.pos2 {
        display: flex;
        justify-content: center;
        margin-top: 104px;
        margin-bottom: 29px;

}

  table {
    border-collapse: collapse;
    margin-bottom : 30px;
    background-color: #f8f2eb;
    margin-right: auto;
    margin-left: auto;
  }

th {
    border: 1px solid black;
}

   tr {
    border: 1px solid black;
    padding: 8px;
  }

    td {

    border: 1px solid black;
    padding: 8px;
  }


img {
    display: block;
    margin: 0 auto;
}

.box {
  background-color: white;
  width: 800px;
  height: 451px;
  display: inline-block;
  border: 4px solid gray;
  border-color: #7a7676;
  border-radius: 10px;
  text-align: center;
    top: 50%;
    left: 50%;
  padding-top: 30px;
  margin-top: 30px;
  margin-bottom: 48px;

}

.box_a table {
  font-size: 30px;



}

.pos {
    text-align: center;
    padding-top: 30px;
    margin-top: 50px;
}

.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:blue;
  font-color: white;
  margin-top: 30px;


}

.text-with-border {
  background-color: blue;
  width: 522px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

/* #my-text {
  text-align: center;
  color: red;
  margin-right: 10px;
  font-size: 37px;

} */


.tableclass {
    display: flex;
    justify-content: center;
    margin-top :40px;
}

.tableclass table {
    border-collapse: collapse;
    font-size: 43px;
}

.tableclass th {
    border: 1px solid black;
    width: 309px;
    height: 69px;
}

   .tableclass tr {
    border: 1px solid black;
    padding: 8px;
  }

    .tableclass td {

    border: 1px solid black;
    padding: 8px;
    width: 309px;
    height: 69px;
  }





  input[type="text"] {
    font-size: 41px;
    border: 3px solid;
    width: 259px;
    padding: 7px;
  }

  label {
    text-align: center;
    margin-top: 6px;
    margin-bottom: 24px;
    font-size: 40px;
  }

  p {
    color: black;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 47px;
  }


submit {
  color: #7a7676;
}

./*search h2 {
    text-align: center;
}*/

/*.search thead  {
    text-align: center;
} */

.search td  {
    text-align: center;
}

.search {

      display: flex;
      justify-content: center;

}

.error {
    color: red;
    font-size: 42px;

}

.error-message {
    display: flex;
    flex-direction: column;
    font-size: 42px;
    color: red;

}

.text message {
      display: block;
      margin-top: 5px;
}

.text form {
        display: flex;
        justify-content: center;
        /*margin-top :20px;*/
        margin-bottom : 20px;
        height: 50px;
        margin-right: 77px;

}

form#input-date div {
  display: flex;
  align-items: center;
}

form#input-date .error {
  margin-left: 10px;
}

input:invalid::after {
  color: red;
  display: block;
  margin-top: 5px;
}

.text button {
  background-color: rgba(34, 236, 16, 0.959);
  color: black;
  border: 3px solid;
  height: 66px;
  width: 58px;
  font-size: 30px;
  margin-left: 6px;
}
.text button:hover {
  background-color: #e07a19;
 }




