.form{
    border:1px solid black;
    border-radius:10%;
    margin:5% 20%;
    text-align:center;
    background-color:rgb(210, 130, 234);
}

.form h2{
    text-align:left;
    margin-left:10%;
}

.form input{
    font-size:20px;
}

.form h2 input{
    width:50px;
    margin-right:10px;
}
.item{
    padding:5% 0%;
}

textarea{
    font-size: 20px;
    width:70%;
    height:200px;
}

.set-result {
    display: flex;
    align-items: center;
    margin-left:15%;
}

.set-result img {
    width:40px;
    height:40px;
    margin-left: 10px;
}

form button.button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

.confirm{
    background-color: #DDDDDD;
}


.edit{
    background-color: white;
}