/* body {
    background-color: cornsilk;
} */



/* img {
    width: 32px;
    height: 32px;
} */

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.diet-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*item1*/

.background {
    border: 2px solid;
    width: 1200px;
    background-color: rgb(125, 125, 125);
    padding: 15px;
}

.form {
    /* background-color: rgb(189, 139, 239); */
    background-image: url(/images/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid;
    border-radius: 2px;
    margin: 15px;
    padding: 15px;
}

/* テーブル本体*/
table {
    border-collapse: collapse;
    background-color: whitesmoke;
    width: 100%;
}

td {
    border: 2px solid #000000;
    text-align: center;
    padding: 20px;

}

.star-img{
    width: 100px;
}

.diet-list {
    background-color:whitesmoke;
    cursor: pointer;
    /* box-shadow: 2px 3px 3px #000000;
    position: relative;
    z-index: 1; */
    padding: 5px;
}

.diet-list:hover {
    box-shadow: none;
    background-color: white;
    
}


th {
    background-color: aqua;
    border: 2px solid #000000;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}


.td-favo{
    width: 100px;
}

.td-select{
    width: 100px;
}

.td-dietName{
    width: 330px;
}

.td-period{
    width: 330px;
}

.td-categoryName{
    width: 100px;
}

.td-difficultName{
    width: 100px;
}


.td-select img{
    width: 32px;
    height: 32px;
}
/*DietList*/

/* .diet-list::after {
    background: #95fbff;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: .5s cubic-bezier(0.45, 0, 0.55, 1);
    z-index: -1;
}


.diet-list:hover::after {
    transform: scale(1, 1);
} */
.select-easy{
    background-color:aqua;
}
.select-normal{
    background-color: #00FF45;
}
.select-hard{
    background-color: red;
}


/*****************************************td テーブル系***************************************/
/* .td-categoryName{
    transform: scale(1.5);
}

.td-difficultName{
    transform: scale(2);
} */

/****************************************************************************************/

/*****************************************星の画像***************************************/
.star-img img {
    cursor: pointer;
}

/****************************************************************************************/
/* <div id="modal">
            <div class="detail-center">
                <div class="page-switch">&larr;</div>
                <div class="page-switch">&rarr;</div>
                <div id="detail-title">
                </div>
                <div id="detail-text">
                </div>
                <img id="detail-img" src="">
                <button id="detail-button" type="button" onclick="closeModal()" class="cancel-btn">閉じる</button>
            </div>
        </div> */

.detail-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail-center #detail-title {
    margin: 20px;
}

.detail-center #detail-text {
    margin: 20px;
    font-size: 24px;
}

.detail-center #detail-button {
    margin: 20px;
    padding: 15px;
}

/****************************************************************************************
詳細画面
****************************************************************************************/
.page-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.page-switch {
    /* rightクラスが追加された要素に適用されるスタイル */
    width: 64px;
    height: 64px;
    font-size: 64px;
    cursor: pointer;
}

.page-switch.left:hover,
.page-switch.right:hover {
    color: blue;
    /* ホバー時の色に変更 */
}

/****************************************************************************************
タイトル
****************************************************************************************/
.title h1 {
    border: 2px solid;
    border-radius: 5px;
    background-color: white;
    padding: 20px 20px 20px 30px;
}

.title {
    width: 100%;
}

/*****************************************************************************************
TableCss
*****************************************************************************************/


/* --------------------------------------------------------------------------------------------------------------------------- */
/* 絞り込み */

.form-item1 {
    width: 1200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search-category select {
    border: 2px solid;
    font-size: 18px;
    width: 150px;
    margin: 10px;
    padding: 15px
}


.search-favo {
    display: flex;
    align-items: center;
}

.favo-item {
    display: flex;
    align-items: center;
    margin: 10px;
}

.favo-item img {
    border: 2px solid;
    border-radius: 5px;
    background-color: white;
    padding: 10px;

}

.favo-item input {
    margin-left: 5px;
}

.select-item {
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 10px;
}

.select-item img {
    border: 2px solid;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    width: 32px;
}

.select-item input {
    margin-left: 5px;
}

/**絞り込み 検索***************************************************************/
.search-keyword {
    display: flex;
    border: 2px solid;
}

.search-input {
    width: 233.52px;
    height: 53.2px;

}

.search-button {
    width: 233.52px;
    height: 53.2px;
}
.search-button button:hover {
    background-color:#00FF45;
}

/*検索入力*/
.search-input input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-left: 15px;
}

.search-button button {
    width: 100%;
    height: 100%;
}

/* -------------------------------------------------------------------------------------------------------------------------- */

#modal {
    width: 800px;
    border: solid 2px;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #fff;
}

#modal.is-show {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.modal-message::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../images/注意.png);
    background-size: contain;
    vertical-align: middle;
    margin: 10px;
}

#fadeLayer {
    position: fixed;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    background-color: #000000;
    opacity: 0.5;
    visibility: hidden;
    z-index: 1;
}


#detail-img {
    width: 300px;
    height: 300px;
}


.background-1 {
    background-image: url("/images/diet_background/walkingbackground.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.background-2 {
    background-image: url("/images/diet_background/swimmingbackground.png");
    background-repeat: no-repeat;
    background-size: 100%;
}


.background-3 {
    background-image: url("/images/diet_background/stretchbackground.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.background-4 {
    background-image: url("/images/diet_background/aerobicsbackground.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.background-5 {
    background-image: url("/images/diet_background/yogabackground.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.background-6 {
    background-image: url("/images/diet_background/pilatesbackground.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.background-7 {
    background-image: url("/images/diet_background/dead_weightbackground.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.background-8 {
    background-image: url("/images/diet_background/low_carbbackground.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.background-9 {
    background-image: url("/images/diet_background/low_fatbackground.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.background-10 {
    background-image: url("/images/diet_background/proteinbackground.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.background-11 {
    background-image: url("/images/diet_background/vegetarianbackground.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.background-12 {
    background-image: url("/images/diet_background/fruitbackground.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.background-13 {
    background-image: url("/images/diet_background/yoghourtbackground.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.background-14 {
    background-image: url("/images/diet_background/touhubackground.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.background-15 {
    background-image: url("/images/diet_background/konjacbackground.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.background-16 {
    background-image: url("/images/diet_background/nattobackground.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.background-17 {
    background-image: url("/images/diet_background/brown_rice_background.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

