/* auto: ブラウザが要素に基づいて自動的にカーソル形状を選択します。
default: ブラウザのデフォルトのカーソル形状を使用します（通常は矢印）。
pointer: ポインティングデバイス（通常は矢印）を示します。クリック可能な要素や対話的な要素に使用されます。
crosshair: 十字線の形状を示します。画像の選択や領域の選択など、カーソルを用いた精確な操作に使用されます。
text: テキスト入力を受け付ける要素（テキストフィールド、テキストエリアなど）を示します。通常はIビームの形状です。
move: 移動操作を示します。ドラッグ可能な要素やスクロール可能な要素に使用されます。
wait: 処理が進行中であることを示します。通常は砂時計の形状です。
not-allowed: 操作が許可されていないことを示します。通常は斜線の形状です。 */

* {
    margin: 0;
    padding: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.nav{
    margin-right: 50px;
    text-align: right;
}

header {
    background-color: rgb(210, 130, 234);
    /* position: fixed;
    z-index: 9999;*/
    top: 0;
    width: 100%;
    
}




header h1{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    font-size: 65px;
}

header a{
    color: #000000;
    text-decoration: none;
}


.dropbtn {
    background-color: #BDE3FF;
    color: #333;
    width: 160px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn:hover{
    cursor: default;
}

.modal {
    /* display: none; */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #e785ff;
    margin: 5% auto;
    padding: 20px;
    width: 80%;
    max-width: 400px;
  }

  .modal-content p{
    text-align: center;
    font-size: 20px;
  }

  .button{
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
  }

  /*フッター------------------------------------------------------------------------ */
  
  footer {
    background-color: #000000;
    padding-top: 20px;
    padding-bottom: 20px;
    bottom: 0;
    width: 100%;
  }

  footer h1{
    color: #ffffff;
  }

  footer p {
    margin: 0px;
    color: #ffffff;
    font-size: 14px;
  }

  footer a{
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
  }

  footer a:hover{
    color: blue;
  }

  .footer_link{
    text-align: center;
    margin: 0px;
  }