<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ダイエット一覧</title>
    <link rel="stylesheet" href="/css/dietList.css">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>お気に入り</th>
                <th>実施</th>
                <th>項目</th>
                <th>期間</th>
                <th>コミュニティ</th>
                <th>カテゴリ</th>
                <th>難易度</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td><img src="/images/update.png"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</body>
</html>