<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Singup</title>
</head>

<body>
    <h1>新規登録</h1>
    <form action="/insert-user" method="POST">
        <div>
            <input type="text" name="userId" placeholder="ユーザーID">
        </div>

        <div>
            <input type="password" name="password" placeholder="パスワード">
        </div>

        <div>
            <input type="text" name="weight" placeholder="体重(任意)">
        </div>

        <button type="submit">登録</button>
    </form>
</body>

</html>