<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>css header</title>
    <link href="/css/commons.css" rel="stylesheet">

</head>

<body>
   <th:block th:insert="/common/header"></th:block>
   <div class="content">
        <div>
            <p>レベル1</p>
            <p>++++++++++++</p>
            <div>
                <p>実施中ダイエット</p>
                <p>豆腐ダイエット：2023/06/16 ～ 2023/06/30</p>
            </div>
        </div>

       <div>
           <p>calendar</p>
           <img src="/images/memo.png">
       </div>
       <div>
           <img src="/images/top.png">
       </div>
   </div>
   <th:block th:insert="/common/footer"></th:block>
</body>

</html>