<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>更新</title>
  <link rel="stylesheet" href="/css/admin-commons.css">
  <link rel="stylesheet" href="/css/memo.css">
</head>
<body>
<th:block th:insert="/admin/admin_header"></th:block>
<div class="content">
  <div class="position_c" style="margin:200px 0px;"> <!--ポジションを真ん中にしている-->
<!--    <form action="/#">　&lt;!&ndash;POST形式でデータ送信&ndash;&gt;-->
      <p><span class="bold">更新しました！</span></p>
      <div>
        <button class="button_memo button" onclick="window.location.href='/admin-top'">Top画面へ</button>
      </div>
<!--    </form>-->
  </div>
</div>
<th:block th:insert="/admin/admin_footer"></th:block>
</body>
</html>