<!DOCTYPE html>
<html lang="ja">
<head>
  <link rel="stylesheet" href="/css/popup.css">
</head>
<body>
  <div id="delete-popup">
    <form>
      <h2>削除しますか？</h2>
      <div class="popup-button">
        <button type="button" id="deleteBtn" onclick="deleteAccount()">削除</button>
        <button type="button" onclick="closeModalDelete()">戻る</button>
      </div>
    </form>
  </div>
  <div id="fadeLayer"></div>
  <script src="/js/delete-popup.js"></script>
  <script>
    function deleteAccount(){
            window.location.href = "/account-delete";
    }
  </script>
</body>
</html>